scanner
selected.txt
tokens.txt
corrected.c
scanner.c
*.zip
*.class
*.interp
*.swp

# Lab 3 specific
SummerBaseVisitor.java
SummerLexer.java
SummerParser.java
SummerVisitor.java
*.tokens
.antlr/

# Lab 4
*.s
*.ll
*.out
GramaticaBaseVisitor.java
GramaticaParser.java
GramaticaVisitor.java